<h1>About us</h1>
<p>"Todos Os Dias" means "everyday" in Portuguese. The main purpose of this website is for users to practice writing in another language every day. Just post a photo and write about it! </p>